.triangle-top-left {
    transform: skew(-25deg);
    transform-origin: left;
  
}

.triangle-top-right {
    transform: skew(-25deg);
  
}

.parallelogram {

  transform: skew(-25deg);

}

.skew-negate  {
    transform: skewX(25deg);
}