.triangle-top-left {
  transform: skew(-12deg);
  transform-origin: left;
}

.triangle-top-right {
  transform: skew(-12deg);
  transform-origin: right;
}

.parallelogram {
  transform: skew(-12deg);
}

.skew-negate {
  transform: skewX(12deg);
}
