@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato";

  src: url("https://fonts.gstatic.com/s/lato/v22/S6uyw4BMUTPHjx4wXg.woff2")
      format("woff2"),
    /* URL for Lato Regular */
      url("https://fonts.gstatic.com/s/lato/v22/S6uyw4BMUTPHjx4wWw.woff")
      format("woff"); /* URL for Lato Regular */
}

@font-face {
  font-family: "Poppins";
  src: url("https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1xlFd2JQEk.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z11xlFd2JQ.woff")
      format("woff");
}

* {
  font-family: "Lato", sans-serif;
}

/* ----------------------------- */

/* Desktop Only : */

/* 1) Variables */

/* colors */
:root {
  --white: #ffffff;
  --seashell: #fff5ee;
  --alice-blue: #effaff;
  --sandy-brown: #f8a066;
  --ruddy-brown: #b5662d;
  --prussian-blue: #00324a;
  --outer-space: #464646;
  --eerie-black: #1e1e1e;
}

/* ----------------------------- */

/* 2) Reset margins, paddings, and border for most elements */

ul,
ol {
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

img,
svg,
#dots {
  user-select: none;
  cursor: pointer;
}
