@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lato';
  src: url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap'); 
}

*{
  font-family:  "Lato", sans-serif;
}


/* ----------------------------- */

/* Desktop Only : */

/* 1) Variables */


/* colors */
:root {
  --white: #ffffff;
  --seashell: #fff5ee;
  --alice-blue: #effaff;
  --sandy-brown: #f8a066;
  --ruddy-brown: #b5662d;
  --prussian-blue: #00324a;
  --outer-space: #464646;
  --eerie-black: #1e1e1e;
}

/* ----------------------------- */

/* 2) Reset margins, paddings, and border for most elements */

ul,
ol {
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}
